html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.margin_top{
    margin-top: 10px;
}
.no_margin{
    margin: 1px 0 1px 0;
    text-align: center;
}
.margin_bottom{
    margin-bottom: 10%;
    text-align: center;
}